<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        {% if titre %}
        <title>{{ titre }} - OnlyFacts</title>
        {% else %}
        <title>Bienvenue dans OnlyFacts!</title>
        {% endif %}
    </head>
   <body>
    <header>
    <ul class ="nav_links"> 
        <li><a href="/index"><img src="{{ url_for('static', filename='images/OnlyFacts-removebg-preview.png') }}"></li>
        <li><a href="/login">Changer de compte</a> </li>
        <li><a href="/search">Recherche</a> </li>
    </ul>
    <a class="cta" href="/profile"><button>Mon Profil</button></a>
        <hr>
    </header>
    {% block content %}{% endblock %}
    </body>
</html>