<!-- Ici on herite de la base "base.html", idealement faire ca pour tout les sites. 
 Plus simple, moins de repetitions, pas besoin de reecrire le head -->

{% extends "base.html" %}
{% block content %}



<h1>Salut, {{ utilisateur.prenom }}!</h1>
<hr>
<h2>Créer un nouveau post</h2>

<form action="/create_post" method="POST">

    <label for="contenu">Contenu :</label><br>
    <textarea id="contenu" name="contenu" rows="5" cols="40" required></textarea><br><br>

    <input type="submit" value="Publier">
</form>

<hr>
<div class="posts">
    <ul>
    {% for post in posts %}
    
        <li>
        <div class="post">
            <a href="/profile/{{ post.auteur.id }}">{{ post.auteur.prenom }}</a>
            <p>{{ post.body }}</p>
            <small>{{ post.created }}</small>
            <small>Avec {{ post.votes }} upvotes</small>
            <form action="/upvote/index/{{ post.id }}" method="POST" style="display:inline;">
                <button type="submit">Upvote</button>
            </form>
        </div>
        </li>
    {% endfor %}
    </ul>
</div>

{% endblock %}
