<!-- Ici on herite de la base "base.html", idealement faire ca pour tout les sites. 
 Plus simple, moins de repetitions, pas besoin de reecrire le head -->

{% extends "base.html" %}
{% block content %}

<div class="header">
    <a href="">
        <img src ="" class="onlyfacts-logo">
    </a>
    <div class="search">
        search
    </div>
    <div class="header-actions">
        header actions
    </div>
</div>
<div class="sidebar">sidebar</div>
<div class="content">content</div>

<h1>Salut, {{ utilisateur.prenom }}!</h1>
<hr>
<h2>Créer un nouveau post</h2>

<form action="/create_post" method="POST">

    <label for="contenu">Contenu :</label><br>
    <textarea id="contenu" name="contenu" rows="5" cols="40" required></textarea><br><br>

    <input type="submit" value="Publier">
</form>
<hr>
<div class="posts">
    {% for post in posts %}
    <div class="post">
        <h3>{{ post.auteur.prenom }}</h3>
        <p>{{ post.body }}</p>
        <small>{{ post.created }}</small>
        <small>Avec {{ post.upvote }} upvotes</small>
        <hr>
    </div>
    {% endfor %}
</div>

{% endblock %}
