{% extends "base.html" %}
{% block content %}
<body class="login">
    {% if erreur == "Existant" %}
    Cette personne existe deja dans notre base de donnée, <br/>
    Voulez vous vous <a href="/login">conneter</a> ? <br/>
    {% elif erreur == "Nom/Prenom Vide" %}
    Le champ nom ou prenom est vide, veuillez le remplir <br/>
    {% elif erreur == "Mdp trop court" %}
    Votre mot de passe n'est pas assez long (+8 caracteres) <br/>
    {% elif erreur == "Difference Mdp" %}
    Vos mots de passes ne sont pas les meme, veuillez réessayer <br/>
    {% endif %}
    <div class="wrapper">
    <form method="post">
      <h1>Register</h1>
      <div class="input-box">
        <input type="text" placeholder="Nom" required name="nom">
        <i class='bx bxs-user'></i>
      </div>
      <div class="input-box">
        <input type="text" placeholder="Prenom" required name="prenom">
        <i class='bx bxs-user'></i>
      </div>
      <div class="input-box">
        <input type="password" placeholder="Password" required name="mdp">
        <i class='bx bxs-lock-alt'></i>
      </div>
      <div class="input-box">
        <input type="password" placeholder="Password" required name="mdp_verif">
        <i class='bx bxs-lock-alt'></i>
      </div>

      <button type="submit" class="btn">Login</button>

      <div class="register-link">
        <p>Deja un compte ? <a href="/login">Se connecter</a></p>
      </div>
    </form>
  </div>
</form>
</body>
{% endblock %}
